
body{
    font-size:small;
    background-color:#FFF8DC

}
h1{
    font-family:"Trebuchet MS", Verdana, Sans-serif;
    font-size:150%;
    color:#300;
    text-decoration:underline;
}
h2{
    font-family:Georgia,"Times New Roman", serif;
    font-size:120%;
    color:#600;
    font-style:italic;

}
p{
    font-family:Arial,Verdana,"Sans Serif";
    font-size:small;
    color:#444;
}
.awesome{
    font-weight:bold;
    color:#B22222;
}